@use "../abstracts/index" as abstracts;

.text-preset-1 {
  @include abstracts.set-font-styles(
    $font-weight: 700,
    $font-size: var(--fs-h1),
    $line-height: var(--fs-h1)
  );
}

.text-preset-2 {
  @include abstracts.set-font-styles(
    $font-weight: 700,
    $font-size: var(--fs-h2),
    $line-height: var(--fs-h2)
  );
}

.text-preset-3 {
  @include abstracts.set-font-styles(
    $font-size: var(--fs-h3),
    $line-height: var(--fs-h3)
  );
}

.text-preset-4 {
  @include abstracts.set-font-styles(
    $font-size: var(--fs-h4),
    $line-height: var(--fs-h4)
  );
}

.text-preset-4-bold {
  @include abstracts.set-font-styles(
    $font-weight: 700,
    $font-size: var(--fs-h4),
    $line-height: var(--fs-h4),
    $letter-spacing: 0.15625rem,
    $text-transform: uppercase
  );
}

body {
  @include abstracts.set-font-styles(
    $font-size: var(--fs-body),
    $line-height: var(--fs-body)
  );
}
